In [1]:
normal code
#my comment

# Print

In [2]:
#printing string
print("lol,my first line of code in python.")

lol,my first line of code in python.

In [3]:
#print a int
print(11)

11

In [4]:
#print decimal int
print(11.2)

11.2

In [5]:
#print int and string

#method1
print("My age is :" , 20)
#method2
print("My age is :" + str(20))

My age is : 20
My age is :20

In [6]:
# differnece between "20" and 20
type("20")

str

In [7]:
type(20)

int

In [8]:
#performing calculation
print(10+2)

12

In [9]:
# printing till decimall values
print(110/3)

36.666666666666664

In [10]:
#printing only divisor
print(110//3)

36

In [11]:
# modulus sign gives us the remainder
print(123%4)

3

In [12]:
# finding square root
import math
print(math.sqrt(100))

10.0

In [13]:
# finding a power b
print(2**3)

8

In [14]:
#using seprators
print("Kushagra","harshita","fineas","deanis",sep='-->')

Kushagra-->harshita-->fineas-->deanis

In [15]:
#using end statememt
print("Kushagra","harshita","fineas","deanis",sep='-->',end='<')

Kushagra-->harshita-->fineas-->deanis<

In [16]:
#Tricky question for you all
print(print(print("20")))

20
None
None

# Variables

In [17]:
#playing with variables
a=10
print(a)

type(a)

10

int

In [18]:
a="10"
print(a)

type(a)

10

str

In [19]:
p=12.2
q=19.1
print(p+q)

31.3

In [20]:
a=2+2j
b=98+3j
print(a+b)

(100+5j)

In [21]:
type(8<5)

bool

In [22]:
print(8<5)

False

In [23]:
#delaring multiple variables at a single time
l,m,n,o=12,1,"hi",None
print(n)
print(o)

hi
None

In [24]:
#suppose we want to declare multiple varible with same value
q=w=e=0
print(w)

0

# INPUT

In [25]:
#input as a string
name=input("write your name here: ")
print("your name is: ",name)

write your name here: Kushagra Gupta
your name is:  Kushagra Gupta

In [26]:
#input as a int
age=input("Write your age here: ")
print("Your age is: ",age)
type(age)

Write your age here: 22
Your age is:  22

str

In [27]:
delimiter = input("Enter a delimiter: ")
input_string = input("Enter a string to split: ")
output_list = input_string.split(delimiter)

print(output_list)

Enter a delimiter: #
Enter a string to split: vd ap 0invsdi niuav # d pidvp
['vd ap 0invsdi niuav ', ' d pidvp']

In [28]:
#input as a int (correct)
age=int(input("Write your age here: "))
print("Your age is: ",age)
type(age)

Write your age here: 22
Your age is:  22

int

In [29]:
#program 1  --> sum 2 numbers
n1=int(input("Enter no.1: "))
n2=int(input("Enter no.1: "))
sum=n1+n2
print("The sum is : ",sum)

Enter no.1: 45
Enter no.1: 55
The sum is :  100

# ALGEBRIC EXPRESSION IN PYTHON

# OPERATORS IN PYTHON

In [31]:
#using + operator
print(23+23)

46

In [32]:
print(23+'hello')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
print('hello'+'hello')

hellohello

In [34]:
print(23*23)

529

In [35]:
print('hello'*3)

hellohellohello

## remember minus and division doesn't work on strings

In [36]:
print('he'-'me')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [37]:
print('je'/'me')

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [38]:
#Power of a number
print(2**3)

8

In [39]:
#remainder of a number
print(23%2)

1

In [40]:
#integer division
print(9//4)

2

In [41]:
print(9/4)

2.25

# FUNCTIONS

In [43]:
def my_first_function():
    print("Hey there am at my first function")

    
my_first_function()

Hey there am at my first function

# Conditional Statements

# LOOPS

In [44]:
#for

In [45]:
#while

In [46]:
#loop on strings
str="Kushagra"
for i in str:
    print(i)

K
u
s
h
a
g
r
a

# Lambda Function

In [47]:
#Normal zindagi
def double(x):
    return x*2

print(double(5))

10

In [49]:
# Mentos Zindagi

doble= lambda x : x*2

print(doble(10))

20

In [51]:
#using function as a parameter
def func(another_func,value):
    return another_func(value)+value

print(func(double,4))

12

In [53]:
#another way of writing the same thing would be
print(func(lambda x : x*2,4))

12

# LIST OPERATIONS

In [54]:
#List formation
l=[]

In [56]:
l=['a','b',12]
print(l)

['a', 'b', 12]

In [57]:
#membership
if ('a' in l):
    print("tha tho,shak tho tha mujhe")

tha tho,shak tho tha mujhe

In [58]:
#appending
l.append(23)
print(l)

['a', 'b', 12, 23]

In [59]:
#pop --> works with index as well
l.pop()
# print(l)

23

In [60]:
print(l)

['a', 'b', 12]

In [61]:
#length function in list
print(len(l))

3

In [62]:
#Extend function in list
l = ["apple", "banana", "cherry"]
another_l = ["Kushagra", "tanmay", 123, 1]
l.extend(another_l)
print(l)

['apple', 'banana', 'cherry', 'Kushagra', 'tanmay', 123, 1]

In [63]:
#remove - removes the first function in list
l.remove("tanmay")
print(l)

['apple', 'banana', 'cherry', 'Kushagra', 123, 1]

In [64]:
#count function
l.count("apple")

1

In [65]:
#Sort function
l=[1,2,6,2,1,4]
l.sort()
print(l)

[1, 1, 2, 2, 4, 6]

In [66]:
#reverse
l.reverse()
print(l)

[6, 4, 2, 2, 1, 1]

In [67]:
#slicing
l[:3]

[6, 4, 2]

In [68]:
#membership
if(1 in l):
    print("there is 1")

there is 1

# tuple

In [69]:
#immutable data structure
my_tuple = (1, 2, 3, 'four', 'five')

In [70]:
#Accessing the data
print(my_tuple[0])  # Output: 1
print(my_tuple[3])  # Output: 'four'

1
four

In [71]:
#Extract a subset
print(my_tuple[1:4])  # Output: (2, 3, 'four')

(2, 3, 'four')

In [72]:
new_tuple = my_tuple[:3] + (4, 5, 6) + my_tuple[4:]
print(new_tuple)  # Output: (1, 2, 3, 4, 5, 6, 'four', 'five')

(1, 2, 3, 4, 5, 6, 'five')

In [83]:
my_tuple = (1, 2, 3, 4, 5, 2, 3)

# Using the len() function
print(len(my_tuple))  # Output: 7

7

In [84]:

# Using the count() function
print(my_tuple.count(2))  # Output: 2

2

In [85]:
# Using the index() function
print(my_tuple.index(3))  # Output: 2

2

In [86]:
# Using the sorted() function
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)  # Output: [1, 2, 2, 3, 3, 4, 5]

[1, 2, 2, 3, 3, 4, 5]

In [87]:
# Using the reversed() function
reversed_tuple = tuple(reversed(my_tuple))
print(reversed_tuple)  # Output: (3, 2, 5, 4, 3, 2, 1)

(3, 2, 5, 4, 3, 2, 1)

In [74]:
#Very important use case
import numpy as np
def calculate_stats(numbers):
    count = len(numbers)
    total = np.sum(numbers)
    mean = total / count
    variance = np.var(numbers)
    std_dev = variance ** 0.5
    return count, total, mean, variance, std_dev

my_numbers = [1, 2, 3, 4, 5]
result = calculate_stats(my_numbers)
print(result)

(5, 15, 3.0, 2.0, 1.4142135623730951)

# DICTIONARIES

In [75]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [76]:
type(thisdict)

dict

In [77]:
#Accessing keys
d={'a' : 1 , 'b' : 2 , 'c' : 3}
for i in d.keys():
    print(i)

a
b
c

In [78]:
#Accessing values
for i in d.values():
    print(i)

1
2
3

In [79]:
#printing keys and values together
for key,value in d.items():
    print(key,value,sep="--- >")

a--- >1
b--- >2
c--- >3

In [80]:
#Dictionaries are mutable
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict['d'] = 4  # Add a new key-value pair
print(my_dict)    # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [81]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict['b'] = 5  # Modify the value associated with 'b'
print(my_dict)    # Output: {'a': 1, 'b': 5, 'c': 3}

{'a': 1, 'b': 5, 'c': 3}

In [82]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['c']  # Remove the key-value pair with key 'c'
print(my_dict)    # Output: {'a': 1, 'b': 2}

{'a': 1, 'b': 2}

In [88]:
#Lets make a program to store id and password in a dictonary

d1={}
#adding the element ->method 1
d1["Kushagra@gmail.com"] = "kushagra"

print(d1)

{'Kushagra@gmail.com': 'kushagra'}

In [90]:
#adding the element ->method 2
d1.update({"sagar@gmail.com":"sagar"})
print(d1)

{'Kushagra@gmail.com': 'kushagra', 'sagar@gmail.com': 'sagar'}

In [91]:
str_u=input("Enter your username: ")

for key,value in d1.items():
    if(key==str_u):
        print("Username matched")
        str_p=input("Enter your password: ")
        if(value==str_p):
            print("Login successful!")
        else:
            print("Login Unsuccessful")
    else:
        print("invalid username")

Enter your username: Kushagra@gmail.com
Username matched
Enter your password: kushagra
Login successful!
invalid username